.primary {
  font-size: 24px;
  width: 200px;
  height: 60px;
  background-color: white;
  color: rgb(60, 60, 60);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  cursor: pointer;
}

.secondary {
  font-size: 24px;
  width: 200px;
  height: 60px;
  background-color: #e7ffa7;
  color: rgb(60, 60, 60);
  border: 1px solid #c5e078;
  border-radius: 3px;
  cursor: pointer;
}

.danger {
  font-size: 24px;
  width: 200px;
  height: 60px;
  background-color: #ff7b5b;
  color: white;
  border: 1px solid #ff5858;
  border-radius: 3px;
  cursor: pointer;
}